
.emoji-fall {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    user-select: none;
    will-change: transform, opacity;
    /* border: 1px solid red; */
}

.emoji-fall {
    --emoji-fall-opacity: 1;
}

@keyframes emoji-fall-fx {
    0% {
        transform: translateY(-10vh) translateX(0px) rotate(0deg);
        opacity: var(--emoji-fall-opacity, 1);
    }
    100% {
        transform: translateY(105vh) translateX(20px) rotate(360deg);
        opacity: var(--emoji-fall-opacity, 1);
    }
}